<!-- Footer -->
<footer class="footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 style="color: aliceblue" class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="/login" style="color: aliceblue" class="btn btn-outline-white btn-rounded">Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div style="color: aliceblue" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/home"> Holiday booking management by Andrei Buzgar</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
