<button type="submit" class="btn btn-primary"  style="margin-top: 50px" (click)="LogOut()">LogOut</button>


<div align="left" display="none" style="margin-top: 200px;" class="container" id="Login">
  <h3 class="h3">Login</h3>
  <form>

    <div class="form-group">
      <input [(ngModel)]="userRequest.email" type="text" name="email" id="email1" placeholder="Enter email">
    </div>

    <div class="form-group">
      <input [(ngModel)]="userRequest.password" type="password" name="password" id="password1" placeholder="Enter password">
    </div>


    <button type="submit" class="btn btn-default" (click)="interpretResult()">Add</button>
    <button class="btn btn-secondary" onClick="history.go(-1);this.disabled=true;" >Go back</button>

  </form>
</div>

<button type="submit" class="btn btn-default" (click)="showAddUserForm()">Create an account</button>
<div align="left" display="none" style="margin-top: 200px;" class="container" id="AddUserDiv">
  <h3 class="h3">Make an Account</h3>
  <form>

    <div class="form-group">
      <input [(ngModel)]="userRequest2.name" type="text" id="name" name="name" placeholder="Enter name">
    </div>

    <div class="form-group">
      <input [(ngModel)]="userRequest2.email" type="text" name="email" id="email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <input [(ngModel)]="userRequest2.password" type="text" name="password" id="password" placeholder="Enter password">
    </div>


    <button type="submit" class="btn btn-default" (click)="interpretUser()">Add</button>
    <button class="btn btn-secondary" onClick="history.go(-1);this.disabled=true;" >Go back</button>

  </form>
</div>
